/* Styly pro komponentu WeatherDisplay */



.weather-info {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 15px;
  margin: 40px;
  /*background-color: rgb(76, 168, 255);*/
  box-shadow: #333 5px 2px 4px;
  
}

.city-date {
  text-align: center;
  margin-bottom: 20px;
}

.city-date h2 {
  font-size: 24px;
  margin: 0;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 25px;
}

.temperature {
  display: flex;
  flex-direction: column; /* Položky budou vedle sebe ve sloupci */
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  /*background-color: rgb(157, 204, 243);*/
  gap : 50px;
  font-size: 60px;
  
}

.temperature h3 {
  
  font-size: 60px;
  margin: 0;
}



.other-details p {
  margin: 5px 0;
}

.other-details p {
  display: block; /* Každý prvek bude zobrazen jako samostatný blok */
  margin-bottom: 10px; /* Mezera mezi bloky */
  font-size: 24px;
  border-bottom: 1px solid #000000;
}

.description {
  font-size: 4.5rem;
  margin: 5px;
}

h2 {
  font-size: 24px;
  text-align: center;

}


.forecast-day {
  /*margin-left: 10px;
  margin-bottom: 20px;*/
  margin : 50px;
  border: 1px solid #ccc;
  border-radius: 40px;
  overflow-x: auto; /* Přidá horizontální posuvník, pokud se obsah překračuje */
  padding-bottom: 17px;
  box-shadow: #333 5px 2px 4px;
  
  
}


.forecast-day h3 {
  position: sticky;
  top: 0;
  background-color: white; /* Zajišťuje, že nadpis bude viditelný přes ostatní obsah */
  z-index: 1; /* Zajišťuje, že nadpis bude nad obsahem, který se posouvá */
  padding: 10px; /* Přidá místo kolem nadpisu */
}


.forecast-day::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
}

.forecast-day::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}


.forecast-items {
  display: flex;
  flex-wrap: nowrap; /* Zabrání zalamování položek na další řádek */
  padding: 10px;
  justify-content: space-evenly; /* Zarovná položky na začátek */
  gap: 10px;
  font-size: 32px;
}

.forecast-item {
  flex-shrink: 0; /* Zabraňuje zmenšování položek, pokud není dostatek místa */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px;
  min-width: 200px; /* Minimální šířka položky */
  box-shadow: #999999 5px 2px 4px;
}

.forecast-item p {
  margin-top: 5px;
}

.forecast-day h3 {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
