/* Styly pro komponentu WeatherDisplay */

.weather-info {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  background-color: rgb(76, 168, 255);
  
}

.city-date {
  text-align: center;
  margin-bottom: 20px;
}

.city-date h2 {
  font-size: 24px;
  margin: 0;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 25px;
}

.temperature {
  display: flex;
  flex-direction: column; /* Položky budou vedle sebe ve sloupci */
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(157, 204, 243);
  gap : 50px;
  font-size: 60px;
  
}

.temperature h3 {
  
  font-size: 60px;
  margin: 0;
}



.other-details p {
  margin: 5px 0;
}

.other-details p {
  display: block; /* Každý prvek bude zobrazen jako samostatný blok */
  margin-bottom: 10px; /* Mezera mezi bloky */
  font-size: 24px;
  border-bottom: 1px solid #000000;
}

.description {
  font-size: 4.5rem;
  margin: 5px;
}

h2 {
  font-size: 24px;
  text-align: center;

}


.forecast-day {
  margin-left: 10px;
  margin-bottom: 20px; /* Mezera mezi jednotlivými dny */
  border : 1px solid #ccc;
  border-radius: 5px;
}

.forecast-day h3 {
  margin-bottom: 10px; /* Mezera pod datem */
  text-align: center;
  border-bottom: 1px solid #ccc;

  
}

.forecast-items {
  display: flex;
  flex-wrap: wrap; /* Položky se budou zalamovat na další řádek, pokud není dostatek místa */
  padding: 10px;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 32px;
  
}

.forecast-item {
  display: flex;
  flex-direction: column; /* Položky budou vedle sebe ve sloupci */
  align-items: center;
  margin-right: 20px; /* Mezera mezi jednotlivými položkami */
  margin-left : 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  
}

.forecast-item p {
  margin-top: 5px; /* Mezera nad textem */
}
