h1 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    text-shadow: 5px 2px 4px #cacaca;
}

h2 {
    font-family: "Inconsolata", monospace;
    
}

h3 {
    font-family: "Inconsolata", monospace;
    text-align: center;

}

.temperature {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: #333 5px 2px 4px;
}
/*
.weatherConatiner {
    background-color: rgb(157, 204, 243);
  }
    */